VPS_IP=<REMOTE_IP>
VPS_USER=<INITIAL_USER> # usually it is root
VPS_USER_PASSWORD=<INITIAL_PASSWORD> # password for root

NEW_USER_NAME=<USERNAME> # e.g. sysadmin
NEW_USER_PASSWORD=<PASSWORD>
NEW_SSH_PORT=<PORT>
